{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card h-100 col-lg-4 col-md-6 mb-4 mt-4 mr-auto center">
                <h1>Juger</h1>
            </div>
        </div>

        <div class="row">
            {# Menu #}
            <div class="col-lg-3">
                <h1 class="my-4">...</h1>
                <div class="list-group">
                    <a href="{{ path('competition_list') }}" class="list-group-item">Competitions en cours</a>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('ffn_natation_homepage') }}">Retour à l'accueil</a>
        </li>
    </ul>
{% endblock %}
