{# src/FFN/NatationBundle/Resources/views/layout.html.twig #}

{# Héritage de app/Resources/views/layout.html.twig #}
{% extends "layout.html.twig" %}

{# Surcharge du bloc 'title' pour lui ajouter de la FFN#}
{% block title %}
    {{ parent() }} de la FFN
{% endblock %}

{# Surcharge du bloc 'body' #}
{% block body %}
	<article>
		<header>
            {% block article_header %}
				<h1>Natation bundle...</h1>
            {% endblock %}
		</header>
		<section>
            {% block article_section %}
				<div class="form-group row">
					<label class="col-form-label col-sm-2 form-control-label required"
						   for="contact_name">
						Name
					</label>

					<div class="col-sm-10">
						<input type="text"
							   id="contact_name"
							   name="contact[name]"
							   required="required"
							   class="form-control"
						/>
					</div>
				</div>
            {% endblock %}
		</section>
	</article>
{% endblock %}