{# Héritage de FFN/Resources/views/layout.html.twig #}
{% extends "@FFNNatation/Layout/layout.html.twig" %}
{# On écrase le page_header #}
{% block page_header %}
    {{ parent() }}
{% endblock %}
{# On écrase le body #}
{% block body %}
    <div class="row">
        <div class="card h-100 col-lg-4 col-md-6 mb-4 mt-4 mr-auto center">
            <h1>Liste des services</h1>
        </div>
    </div>
{% endblock %}
