{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card h-100 col-lg-4 col-md-6 mb-4 mt-4 mr-auto center">
                <h1>Gestion des juges</h1>
            </div>
        </div>

        <div class="row">
           // gestion des juges
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('ffn_natation_homepage') }}">Retour à l'accueil</a>
        </li>
    </ul>
{% endblock %}
